# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Matias Lapalma
	email = mlapalma365@gmail.com
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
